<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>최적의 경로</title>
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=l10kq6x6md"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/o-route.css') }}">
</head>
<body>
    <h1>최적의 경로</h1>
    <div class="container">
        <div id="travelListContainer">
            <h3>여행지 순서</h3>
            <ul>
                {% for destination in route_data %}
                    <li>
                        <span>{{ loop.index }}.</span>{{ destination }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <button onclick="window.location.href='/reset'" class="find-route-btn">경로 다시 찾기</button>
</body>
</html>